@media (max-width:768px) {
    header{
        width: 100%;
        height: 100%;

        flex-direction: column;
        align-items: center;
    }

    .logo{
        padding-top: 40px;
    }

    nav{
        width: 100%;

        padding-top: 40px;
    }

    nav ul{
        width: 100%;
    }

    nav li{
        width: 50%;
        margin: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;

        border-width: 0px 0px 3px 0px;
        border-style: solid;
        border-color: #f2f2f2;
    }

    nav li{
        padding-bottom: 20px;

        font-size: 20px;
    }

    nav li:hover{
        border-width: 0px 0px 3px 0px;
        border-style: solid;
        border-color: #0065FC;
    }

    nav li:hover > a{
        border-width: 0px 0px 0px 0px;

        color: #0065FC;
    }

    .bodyTop{
        width: 94%;
        padding-top: 40px;
    }

    .searchBar input{
        width: 60%;
    }

    .searchBar button span{
        display: none;
    }

    .searchBar button i{
        display: block;
    }

    .filtres{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        gap: 0px;
    }

    .filtres .filtresGroupe{
        flex-direction: row;
        justify-content: space-evenly;

        gap: 0px;
    }

    .filtres div{
        flex-direction: column;
        width: 100%;

        gap: 0px;
    }

    .filtres .filtresGroupe div{
        width: 49%;
        justify-content: flex-start;
        padding: 16px 12px;

        margin-top: 10px;
    }

    .filtres div h3{
        font-size: 12px;
    }

    .bodyMiddle{
        width: 100%;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .populaires{
        border-radius: 0px;
    }

    .populaires section{
        width: 90%;
        flex-direction: column;
    }

    .populaires > div{
        width: 90%;
        margin: auto;
    }

    .populaires .logement{
        width: 100%;
    }

    .hebergements{
        width: 90%;
        background-color: unset;
        margin-top: 0px;
        margin: auto;
    }

    .hebergements h2{
        margin-left: 0px;
        align-self: flex-start;
    }

    .hebergements h2:nth-last-of-type(1){
        display: none;
    }

    .hebergements h2:nth-last-of-type(2){
        padding: 0px 0px 30px 0px;
    }

    .hebergements > div{
        width: 100%;
        flex-direction: column;
    }

    .hebergements .logement{
        width: 100%;
    }

    .bodyBottom{
        width: 90%;
    }

    .activites{
        flex-direction: column;
    }

    .activites div{
        width: 100%;
    }

    .activites article:nth-of-type(4) img{
        object-position: center top;
    }

    footer{
        width: 110%;
        margin: auto;
        margin-top: 100px;
        flex-direction: column;

        padding-top: 0px;
    }

    .list{
        padding-top: 45px;
        padding-left: 40px;
    }

    .list:nth-last-of-type(3){
        padding-left: 40px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .texte {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

 
    .sous-filtre div {
        width: 50%;
    }
}
